<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.GreenRidersHBTU">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/greenriderslogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".SignUpUser"
            android:exported="false" />
        <activity
            android:name=".Util.ShowRealtimeCycles"
            android:exported="false" />
        <activity
            android:name=".Util.ChangePassword"
            android:exported="false" />
        <activity
            android:name=".Scanners.ScannerDeleteCycle"
            android:exported="false" />
        <activity
            android:name=".Scanners.ScannerViewAddCycle"
            android:exported="false" />
        <activity
            android:name=".Admin.AdminDeleteCycle"
            android:exported="false" />
        <activity
            android:name=".Admin.AdminDeleteUserAndGuard"
            android:exported="false" />
        <activity
            android:name=".Admin.AdminAddGuard"
            android:exported="false" />
        <activity
            android:name=".Admin.AdminAddUser"
            android:exported="false" />
        <activity
            android:name=".Admin.AdminAddCycle"
            android:exported="false" />
        <activity
            android:name=".Admin.AdminHome"
            android:exported="false" />
        <activity
            android:name=".Util.AppInfo"
            android:exported="false" />
        <activity
            android:name=".Guard.LoggedGuardActivity"
            android:exported="false" />
        <activity
            android:name=".User.LoggedUserActivity"
            android:exported="false" />
        <activity android:name=".Scanners.scannerView" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>